


@media screen and (max-width: 991px){

    
    .mentor{
        display: flex;
        flex-direction: column;

        margin-top: 300px ;
        justify-content: center;
    }

    .pic-media{
        width: 70%;
        height: 70%;
        /* overflow: hidden; */
        position: relative;
        margin-block: auto;
        margin-inline: auto;
        
    }
    #design{
        max-width: 100%;
        max-height: 100%;

        /* margin-left: 50px; */

        margin-inline: auto;
        
    }



}


@media screen and (max-width:767px) {

    #profile{
        gap: 0;
    }

    .pic-media{
        width: 100%;
        height: 100%;
        /* overflow: hidden; */
        position: relative;
        margin-block: auto;
        margin-inline: auto;
        
    }
    #design{
        max-width: 80%;
        max-height: 80%;

        /* margin-left: 50px; */

        margin-inline: auto;
        
    }

    .btn-media{
        width: 17rem;
        font-size: 15px;

    
    }


}


@media screen and (max-width: 485px){


    #profile{
        max-width: 50vw;
        margin-inline: auto;
        padding-inline: 20px;

    }
   
    
    .main-sec-media{
        display: flex;
        flex-direction: column;

        
        
    }

    .abt-container-media{
        display: flex;
        flex-direction: column;

       

    }
    .box-container{
        width: 80%;
       
    }

    .contact-media{
        
        display: flex;
        flex-direction: column;

        padding: 1rem;
    }


    
}